.venues-list-wrapper {
  width: 100%;
  padding: 40px 15px; }
  .venues-list-wrapper .venues-list-header {
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    line-height: 35px; }
    .venues-list-wrapper .venues-list-header .clarification {
      font-size: 20px; }
  .venues-list-wrapper .download-csv {
    padding: 10px;
    border-radius: 5px;
    background-color: #2185d0;
    position: absolute;
    right: 35px; }
    .venues-list-wrapper .download-csv a {
      color: #fff !important; }
